<!--iconos de redes sociales-->
<div>
        <a href="https://www.Instagram.com/polirrubros_codigo_urbano2020">
            <img src= "../../../assets/img/logoInstagram.png" id="icon-instagram" alt="icono Instagram link ">
        </a>
        <a href="https://mobile.twitter.com/germedi83">
                <img src= "../../../assets/img/logotwitter.png"id="icon-twitter" alt="icono Twitter link">
        </a>
        <a href="https://wwww.facebook.com/gerardomedinav" >
                <img src= "../../../assets/img/logoFacebook.png" id="icon-facebook" alt="icono facebook link" >
        </a>
        <a href="https://github.com/Gerardomedinav">
            <span class="logogithub">
        <img src= "../../../assets/img/logoGitHub.png" id="icon-github" alt="icono github link">
        </span>
        </a>
        <button class="btn btn-primary" type="button"  checked="checked" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <app-modal-login></app-modal-login>
                Login
              </button>
</div>